/*************
 * variables *
 *************/

$color-background: #151515;
$color-inner-background: #232323;
$color-text: #e0e0e0;
$color-border: #545454;
$border: 0;
$color-border-active: #9a9a9a;
$color-invalid: #6f3c3c;
$transition: all 0.2s ease-out;

/**********
 * global *
 **********/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: border-box;
}
html, body {
  background: $color-background;
  color: $color-text;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}


/********
 * tags *
 ********/

button {
  background: $color-inner-background;
  color: $color-text;
  border: $border;
  font-size: .875rem;
  font-weight: bold;
  padding: .75rem 1.75rem;
  min-width: 6rem;

  &:hover, &:focus {
    outline: none;
    border-color: $color-border-active;
  }
}

input[type="text"], textarea {
  display: block;
  font-size: 1rem;
  font-size: .875rem;
  width: 100%;
  padding: 1rem;
  border: $border;
  background: $color-inner-background;
  color: $color-text;

  &:focus {
    outline: none;
    border-color: $color-border-active;
  }
}


/***********
 * classes *
 ***********/

.sortable {
  cursor: grab;
}

.container {
  padding: 2rem;
  margin: 0;
}

.title {
  margin-bottom: 1rem;

  &_input {
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;

    &.invalid {
      border-color: $color-invalid;
    }
  }
}

.joke {
  margin-bottom: 1rem;

  &_block--container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    border: $border;
    border-radius: 2px;
    transition: $transition;
    background-color: $color-inner-background;
    margin-bottom: .5rem;

    &.sortable-chosen {
      background-color: $color-inner-background;
    }

    .joke_block--margin {
      flex: 0 0 2rem;
      z-index: 1;
    }

    .joke_block {
      flex: 1 0 0;
      margin-left: -2rem;
      transition: $transition;

      &.active {
        margin-left: 0;
      }

      .joke_line {
        &.todo {
          border-left: 3px solid #94901f;
          padding-left: calc(1rem - 3px);
        }
      }
    }
  }
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;

  .button--cta, .button--title {
    margin: 0 .5rem 1rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.combined {
  &_textarea {
    height: 10rem;
  }
}
